@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* ### Primary
- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
### Neutral
- Dark Text: hsl(229, 25%, 31%)
- Score Text: hsl(229, 64%, 46%)
- Header Outline: hsl(217, 16%, 45%)
### Background
- Radial Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%) */



@theme {
  --font-barlow: 'Barlow Semi Condensed', 'Sans Serif ';
  --color-s-one: hsl(39, 89%, 49%);
  --color-s-two: hsl(40, 84%, 53%);
  --color-p-one: hsl(230, 89%, 62%);
  --color-p-two: hsl(230, 89%, 65%);
  --color-r-one: hsl(349, 71%, 52%);
  --color-r-two: hsl(349, 70%, 56%);
  --color-bg-one: hsl(214, 47%, 23%);
  --color-bg-two: hsl(237, 49%, 15%);
  --color-text: hsl(229, 25%, 31%);
  --color-score: hsl(229, 64%, 46%);
  --color-outline: hsl(217, 16%, 45%);
}

@layer base {
  main {
    @apply font-barlow
  }
}

@layer components {
  .main {
    @apply bg-radial from-bg-one to-bg-two flex flex-col w-screen h-screen px-8 py-12 md:px-40 justify-between items-center
  }

  .head {
    @apply w-full md:w-1/2 flex flex-row justify-between items-center border-2 border-outline rounded-xl p-4
  }

  .head img {
    @apply w-24
  }

  .score-board {
    @apply bg-white rounded-xl py-2 px-4 flex flex-col items-center justify-center
  }

  .score-board p {
    @apply font-semibold font-barlow text-score uppercase text-sm
  }

  .score-board span {
    @apply uppercase font-bold text-3xl text-bg-one
  }


  .step-one {
    @apply bg-center bg-no-repeat  bg-[length:200px_200px]    bg-[url(/bg-triangle.svg)]  grid grid-cols-2 grid-rows-2 gap-8 
  }

  .step-one .rock {
    @apply col-span-2 justify-self-center
  }

  .game-btn {
    @apply cursor-pointer p-2 bg-white rounded-full w-24 h-24 flex items-center justify-center
  }

  .paper {
    @apply bg-gradient-to-r from-p-one to-p-two p-2 rounded-full w-28 h-28
  }

  .scissors {
    @apply bg-gradient-to-r from-s-one to-s-two p-2 rounded-full w-28 h-28
  }

  .rock {
    @apply bg-gradient-to-r from-r-one to-r-two p-2 rounded-full w-28 h-28
  }

  .rules {
    @apply md:w-full flex items-end justify-end
  }

  .rules button {
    @apply border-2 border-outline px-12 py-2 rounded-md cursor-pointer uppercase text-white font-barlow font-semibold
  }

  .step-two{
    @apply grid grid-cols-2 grid-rows-2 md:grid-cols-3 md:grid-rows-1 gap-8 items-center justify-items-center justify-center

  } 

  .step-two.item-3 {
    @apply col-span-2 justify-self-center
  }

  @keyframes pingOnce {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.15);
      opacity: 0.85;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animate-ping-once {
    animation: pingOnce 0.5s ease-in-out 1;
    animation-delay: 0.1s;

  }
  

}